.spinner {
    position: absolute;
    margin-left: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-right: auto;
    margin-top: auto;
    width: 100px;
    height: 100px;
    padding: 0;
    margin-bottom: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Spinner */
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.disabled{
    pointer-events: none;
}